/* line 5, ../../app/assets/stylesheets/flash_files.css.scss */
.swf-file {
  background-color: #666;
  padding: 8px;
}

/* line 11, ../../app/assets/stylesheets/flash_files.css.scss */
.swf-header h2 {
  margin-bottom: 0px;
}
