<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://HaXeCasts.com/<%= video_cast_path(@video_cast)  %>" data-text="Watching <%= @video_cast.title %> on http://HaXeCasts.com" data-count="horizontal" data-via="Synthmax">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

