

<div class ='code_box'>
  <div class="header">
    <%=flash_file.title%>
  </div>
  <div class='swf-file'>
    <div class="cdfg" id="altContent">
      <h1>output</h1>
      <p>Alternative content</p>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img 
        src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" 
        alt="Get Adobe Flash player" /></a></p>
    </div>
  </div>
</div>
<br/>
<% if can_edit?%>
  <div class='grid-9.alpha.omega'>
    <div class ="edit">
      <%=  link_to 'edit', edit_video_cast_flash_file_path(flash_file.video_cast, flash_file) %> | 
      <%= link_to 'delete', flash_file, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<%end%>

