/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require kontrapunkt
 *= require normalize
 *= require clearfix
 *= require grid
 *= require_self
 * require_tree . 
 *= require_directory . 
*/

@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "partials/color";
@import "partials/font";
@import "partials/dimentions";
@import "partials/fancy-buttons";


body{
  margin:0px;
  @include font-plain;
}

// set link color
a, a:hover, a:active, a:visited, a:link {
  //@include link-font;
  color: $link-color;
  text-decoration: none;
  &.fancy {
		@include fancy-button($template-color-base, 14px 0.5em);
	}
}

.top_banner{
/*	@include background(image-url("foo.png"), linear-gradient(center top, #FFFFFF, #E4E4E4));*/
	background-image:url('<%= asset_path "top_banner_back.png" %>');
	background-repeat:repeat-x;
	height:112px;
	margin-top:0px;
	width:100%;
	float:left;
}

/* JCrop preview */
.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}


.row-flip
{
	background-color:#ddd;
}

.row-flop
{
	background-color:#ccc;
}

.sort-list-header {
	background-color:#aaa;
	color:#000;
	.asc {
		padding-right:20px;
		background-image:url('<%= asset_path "arrow_down.png" %>');
		background-repeat:no-repeat;
		background-color:transparent;
		background-position:right top;
	}
	.desc {
		padding-right:20px;
		background-image:url('<%= asset_path "arrow_up.png" %>');
		background-repeat:no-repeat;
		background-color:transparent;
		background-position:right top;
	}
}

/* FIXME where is this used? */
.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* FIXME where is this used? */
.edit{
	text-align:right;
}

.notice{
	color:#0a0;
	background-color:#efe;
	@include border-radius(5px, 5px);
	border-style:solid;
	border-width:1px;
	border-color:#888;
    min-height:32px;
	margin-top:16px;
	.message{
	  margin:8px;
	}
	
}
.alert{	
	color:#e00;
	background-color:#fee;
	@include border-radius(5px, 5px);
	border-style:solid;
	border-width:1px;
	border-color:#888;
    min-height:32px;
	margin-top:16px;
	.message{
	  margin:8px;
	}
}


.field{
	@include input_top_margin;
}

.label{
	@include input_top_margin;
}

.top-banner{
	height:80px;
}

.search-bar{
	height:26px;
	margin-top:6px;
}

.haxe{
	h1{
		margin:20px 0px 0px 0px;
	}
	@include template-color; @include font-header;
	
	.logo{
		background-image:url('<%= asset_path "haxe-cast-logo.png" %>');
		width:423px;
		height:62px;
		display:block;
	}
}

.headline { 
	@include template-color; @include font-header; 
	min-height:32px; 
	margin-bottom:16px;
	}
.top-margin{
	margin-top:16px;
}

.comment-header{
	@include border-radius(8px 8px 0px 0px);
	@include background(image-url('<%= asset_path "foo.png" %>'), linear-gradient(center top, #fff, #aaa));
	border-style:solid;
	border-width:1px;
	border-color:#888;
	border-bottom:none;
	min-height:32px;
	.content{
		margin:8px;
	}

}

.border-box{
/*	@include border-radius(0px 0px 8px 8px);*/
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	border-top:none;
	margin-bottom:12px;	

	.content{
		padding:8px;
		p{
			margin:0px;
		}
	}
}

.code{
	padding:8px;
}

.front-page{
	h1{
		a{
			color:#000;
		}
	}
}

.sublime{
	background-color:#000;
}

.header{
	h1{
		margin-bottom:4px;
		color:#888;
	}
	p{
		margin-top:0px;
	}
}

.logo{
	margin-top:12px;
}

.code_box{
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	.header{
		padding:8px;
	}
}

.image-box{
	width:323px;
	height:200px;
	display:block;
	overflow:hidden;
	border-style:solid;
	border-width:1px;
	border-color:#888;
}

.banner-teaser{
	margin-top:42px;
	left-margin:12px;
}