// Place all the styles related to the flash_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.swf-file{
  background-color:#666;
  padding:8px;
}

.swf-header{
	h2{
		margin-bottom:0px;
	}
}
