// Place all the styles related to the resource_urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials/color";

.resource_box{
	a, a:hover, a:active, a:visited, a:link {
	  //@include link-font;
	  color: $resource-color;
	  text-decoration: none;
	  font-size:14px;
	}	
}
